.file {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.file-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.file-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fileName,
.uploadDate {
    margin: 5px 0;
}

.fileName {
    font-weight: bold;
}

.file-actions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.download-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 5px;
}
